@import url(./styles/header.css);
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-size: 1.2rem;
    max-width: 1024px;
    margin: 0 auto;
    font-family: "Montserrat", Arial, sans-serif;
}
