* {
    box-sizing: border-box;
}
.left-side {
    display: flex;
    width: 50%;
    color: darkred;
    border-right: solid 2px rgb(255, 200, 237);
    border-top-left-radius: 17px;
    font: 18px Verdana, sans-serif;
    background-image: linear-gradient(to right, transparent 50%, lightpink 50%), url(./pics/back1.png);
}
.left-border {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;
    height: fit-content;
    background-color: white;
    outline: white solid 10px;
    border-radius: 17px;
}
.myphoto {
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 17px;
}
.right-side {
    display: block;
    width: 50%;
    background-color: LightPink;
    border-left: solid 2px rgb(255, 200, 237);
    border-top-right-radius: 17px;
    font: 18px Verdana, sans-serif;
}
html {
    scroll-behavior: smooth;
}
.header {
    border-radius: 17px;
    border: 4px solid rgb(255, 200, 237);
}
.body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto; 
    padding: 20px; 
    max-width: 1200px; 
    box-sizing: border-box;
}
/*.main {
    border: 4px solid rgb(255, 200, 237);
}*/
.main-container {
    display: flex;
    flex-wrap: wrap;
}
.nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.nav-link {
    padding: 20px;
    line-height: 50px;
    text-decoration: none;
    transition: 0.3s;
    color: darkred;
    font: 26px Verdana, sans-serif;
}
.right-section-title {
    color: white;
    padding: 15px 20px 5px;
}
.name-section-title{
    color: darkred;
    padding: 10px;
    font-size: 36px;
    text-indent: 8px;
    /*line-height: 1.5;*/
}
.about-me {
    font: 20px Arial, sans-serif;
    margin: 0px 20px 0px;
    color:darkred;
    text-indent: 40px;
    line-height: 1.5;
}
.language-js {
    display: flex;
    align-items: center;
    border-radius: 30px;
    white-space: pre-wrap;
    margin: 10px 15px 10px;
    padding: 10px;
    text-align: left;
}
.list {
    font: 20px Arial, sans-serif;
    padding-inline-start: 38px; 
    color:darkred;
    line-height: 1.5;
}
.footer {
    display: flex;
    justify-content: space-around;
    background-color: rgb(251, 175, 221);
    border-bottom-right-radius: 17px;
    border-bottom-left-radius: 17px;
}
.git {
    color: rgb(31, 22, 54);
    font: bold 18px Arial, sans-serif;
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 30px;
}
.year {
    color: black;
    font: 20px Arial, sans-serif;
    display: flex;
    align-items: center;
    text-align: center; 
}
.rs_logo {
    margin: 15px;
}
