
.header {
    display: flex;
    align-items: center;
    height: auto;

    background-color: rgb(242, 240, 223);
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.nav-list {
    display: flex;
    align-items: center;
    height: auto;
    gap: 35px;
    background-color: rgb(242, 240, 223);
}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
}