.header {
    display: flex;
    align-items: center;
    height: 40px;

    background-color: #8db192;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.nav-list {
    display: flex;
    align-items: center;
    height: auto;
    gap: 35px;
}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.nav-link:hover {
    text-decoration:wavy;
    color: rgb(13, 93, 3);
}