.left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 50%; */
    padding: 25px;
    flex: 1; 
}

.my__card {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    height: auto;
    gap: 10px;
    border: 5px solid rgb(214, 210, 193);
    background-color: rgb(214, 210, 193);
}

.list__item {
    list-style: none;
}