.right-side {
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* width: 50%; */
    flex: 1; 
}

.section {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 5px 8px;
    background-color: #f0ece9;
    border-radius: 10px;
}

.skills {
    margin-left: 10px;
}